{% extends 'base.html' %}

{% block title %}All Posts{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="col-lg-9">Feed</h1>

            <form method="POST" class="col-lg-3 form-inline my-2 my-lg-0">
                <div class="form-group">
                    {{ form.search(class_='form-control', placeholder='Search Products') }}
                    <button class="btn btn-primary my-2 my-sm-0" style="margin-left: 8px" type=submit value="Search">Go</button>
                </div>
            </form>
        </div>
    </div>

    {% for post in posts %}

        <div class="container">
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-block">
                            {% if post.file_path == "bogus_path" or post.file_path == none or post.file_path == "None" %}
                                <img class="card-img-top" src="https://vignette.wikia.nocookie.net/pandorahearts/images/a/ad/Not_available.jpg/revision/latest?cb=20141028171337" alt="No Image Available">
                            {% else %}
                                <img class="card-img-top" src="/{{ post.file_path }}" alt="Product Image">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-block">
                            <br>
                            <h3 class="card-title" style="padding-left: 20px">{{ post.product }}</h3>
                            <p class="card-text" style="padding-left: 20px">{{ post.description }}</p>
                            <br>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><b>Price: </b>{{'${:,.2f}'.format(post.price) }}</li>
                                <li class="list-group-item"><b>Quantity: </b>{{ post.quantity }}</li>
                                <li class="list-group-item"><b>Category: </b>{{ post.category }}</li>
                                <li class="list-group-item"><b>Pickup Location: </b>{{ post.loc }}</li>
                            </ul>

                            <div class="card-body">
                                <a href="#" class="card-link"><b>Buy</b></a>
                                <a href="{{ url_for('post_details', id=post.post_id) }}" class="card-link">Post Details</a>
                                <a href="{{ url_for('add_to_favorites', post_id=post.post_id) }}" class="card-link">Favorite</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <h3>No Posts</h3>
    {% endfor %}
{% endblock %}
