{% extends 'base.html' %}

{% block title %}All Members{% endblock %}

{% block content %}
    <h1>All Members</h1>
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Phone</th>
                <th>Rating</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.first_name }}</td>
                    <td>{{ member.last_name }}</td>
                    <td>{{ member.email }}</td>
                    <td>{{ member.password }}</td>
                    <td>{{ member.phone }}</td>
                    <td>{{ member.rating }}</td>
                    <td>{{ member.active }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No members to show</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}