{% extends 'base.html' %}

{% block title %}All Posts{% endblock %}

{% block content %}

    <h1>Posts</h1>
    <table class="table table-striped table-hover table-sm">
      <tr>
          <th>Price</th>
          <th>Quantity</th>
          <th>Product</th>
          <th>Location</th>
      </tr>
        {% for aPost in posts %}
            <tr>
                <td>{{ aPost.price }}</td>
                <td>{{ aPost.quantity }}</td>
                <td>{{ aPost.product }}</td>
                <td>{{ aPost.loc }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No Posts</td>
            </tr>
        {% endfor %}
    </table>

    <a href='/post/create'>Go To Create Post</a>
    <br>
    <br>
{% endblock %}
