<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


        <style>
            html, body {
                height: 100%;
            }

            #wrap {
                min-height: 100%;
            }

            #main {
                overflow:auto;
                padding-bottom: 50px;
            }

            footer {
                position: relative;
                margin-top: -50px;
                height: 50px;
                clear: both;
                padding-top: 10px;
                background-color: #f5f5f5;
            }
        </style>

        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>

    <body>

        <nav class="navbar navbar-default fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('all_posts') }}">HomeGrown</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if role == 'user' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('create_post') }}">New Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('my_posts') }}">My Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('my_favorites') }}">Favorites</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('sign_out') }}">Sign Out</a>
                        </li>
                    {% elif role == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('sign_out') }}">Sign Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('sign_in') }}">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('sign_up') }}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
                {% if search_form %}
                    <form method="POST" class="form-inline my-2 my-lg-0">
                        <div class="form-group">
                            {{ search_form.search(class_='form-control', placeholder='Search Products') }}
                            <button class="btn btn-primary my-2 my-sm-0" style="margin-left: 8px" type=submit value="Search">Go</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </nav>

        <div id="wrap">
            <div style="padding: 75px 50px 50px 50px">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} fade show" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <div id="main">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <footer>
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 footer-copyright text-center text-muted">
                        © 2018 Team Bryson
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </footer>
    </body>
</html>
