<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>

    <body>
        <nav class="navbar navbar-default fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('all_posts') }}">HomeGrown</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('create_post') }}">New Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('my_posts') }}">My Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('my_favorites') }}">Favorites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('test') }}">Test</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ url_for('sign_out') }}">Sign Out</a>
                    </li>
                </ul>
                {% if search_form %}
                    <form method="POST" class="form-inline my-2 my-lg-0">
                        <div class="form-group">
                            {{ search_form.search(class_='form-control', placeholder='Search Products') }}
                            <button class="btn btn-primary my-2 my-sm-0" style="margin-left: 8px" type=submit value="Search">Go</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </nav>

        <div style="padding: 75px 50px 50px 50px">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} fade show" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
