{% extends 'base.html' %}

{% block title %}Buy {{ post.product }}{% endblock %}

{% block content %}
    <img src="https://cdn.iconscout.com/public/images/icon/free/png-512/back-arrow-35325b9dd72f970a-512x512.png" style="height: 35px; width: 35px; cursor: pointer" onclick="goBack()">

    <script>
    function goBack() {
        window.history.back();
    }
    </script>

    <div class="container">
        <div class="row">
            <h1 class="col-md-6">{{ post.product }}</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                 {% if post.file_path == "bogus_path" or post.file_path == none or post.file_path == "None" %}
                     <img class="card-img-top" src="https://vignette.wikia.nocookie.net/pandorahearts/images/a/ad/Not_available.jpg/revision/latest?cb=20141028171337" alt="No Image Available">
                 {% else %}
                     <img class="card-img-top" src="/{{ post.file_path }}" alt="Product Image">
                 {% endif %}

            <br>
            <br>
                {% if selling_user %}
                    <p>Posted by <a href="{{ url_for('user_profile', id=selling_user.id) }}">{{ selling_user.name }}</a></p>
                {% endif %}

                <p>{{ post.description }}</p>
            </div>

            <div class="col-md-3">
                <br>
                <form method="POST" class="form my-2 my-lg-0">
                    <div class="input-group">
                        {{ form.csrf_token }}
                        {{ form.amount(class_='form-control', placeholder='Quantity') }}
                        <div class="input-group-append">
                            {% if post.unit == 'oz' or post.unit == 'dozen' %}
                                <span class="input-group-text" style="border-radius: 0 5px 5px 0">{{ post.unit }}</span>
                            {% else %}
                                <span class="input-group-text" style="border-radius: 0 5px 5px 0">{{ post.unit }}s</span>
                            {% endif %}
                        </div>
                        <button class="btn btn-success my-2 my-sm-0" style="margin-left: 8px" type=submit value="Submit">Buy</button>
                    </div>
                    <br>
                    {% if form.amount.errors %}
                        <div class="alert alert-danger">
                            Must be an integer!
                        </div>
                    {% endif %}
                </form>

                {% if post.unit != 'oz'and post.unit != 'dozen' and post.quantity > 1 %}
                    <p><b>Quantity Remaining: </b>{{ post.quantity }} {{ post.unit }}s</p>
                {% else %}
                    <p><b>Quantity Remaining: </b>{{ post.quantity }} {{ post.unit }}</p>
                {% endif %}

                <p><b>Price: </b>{{'${:,.2f}'.format(post.price) }} / {{ post.unit }}</p>

            </div>
        </div>
    </div>

{% endblock %}
