{% extends 'base.html' %}

{% block title %}Favorites{% endblock %}

{% block content %}
    {% if user_id %}
        <div class="container">
            <div class="row">
                <h1 class="col-lg-9">My Favorites</h1>
            </div>
        </div>

        {% for favorite in favorites %}

            <div class="container">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-block">
                                {% if favorite.file_path == "bogus_path" or favorite.file_path == none or favorite.file_path == "None" %}
                                    <img class="card-img-top" src="https://vignette.wikia.nocookie.net/pandorahearts/images/a/ad/Not_available.jpg/revision/latest?cb=20141028171337" alt="No Image Available">
                                {% else %}
                                    <img class="card-img-top" src="/{{ favorite.file_path }}" alt="Product Image">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-block">
                                <br>
                                <h3 class="card-title" style="padding-left: 20px">{{ favorite.product }}</h3>
                                <p class="card-text" style="padding-left: 20px">{{ favorite.description }}</p>
                                <br>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><b>Price: </b>{{'${:,.2f}'.format(favorite.price) }}</li>
                                    <li class="list-group-item"><b>Quantity: </b>{{ favorite.quantity }}</li>
                                    <li class="list-group-item"><b>Pickup Location: </b>{{ favorite.loc }}</li>
                                </ul>

                                <div class="card-body">
                                    <a href="#" class="card-link"><b>Buy</b></a>
                                    <a href="#" class="card-link">Post Details</a>
                                    <a href="{{ url_for('remove_from_favorites', post_id=favorite.post_id) }}" class="card-link">Unfavorite</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}

            <div class="container">
                <div class="row">
                    <h3 class="col-lg-9">You have no favorites!</h3>
                </div>
            </div>

        {% endfor %}
    {% endif %}
{% endblock %}
