{% extends 'base.html' %}

{% block title %}
    {% if mode == 'feed' %}
        All Posts
    {% elif mode == 'results' %}
        Results
    {% elif mode == 'my-posts' %}
        My Posts
    {% elif mode == 'favorites' %}
        My Favorites
    {% elif mode == 'user' %}
        {{ user.name }}'s Posts
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="col-lg-9">
                {% if mode == 'feed' %}
                    Feed
                {% elif mode == 'results' %}
                    Results
                {% elif mode == 'my-posts' %}
                    My Posts
                {% elif mode == 'favorites' %}
                    My Favorites
                {% elif mode == 'user' %}
                    {{ user.name }}'s Posts
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for post in posts %}
                <div class="col-lg-4">
                    <div class="card" style="width: 350px; margin: 10px 10px 10px 10px;">
                        {% if post.file_path == "bogus_path" or post.file_path == none or post.file_path == "None" %}
                            <img class="card-img-top" style="width: 348px; height: 200px;" src="https://vignette.wikia.nocookie.net/pandorahearts/images/a/ad/Not_available.jpg/revision/latest?cb=20141028171337" alt="No Image Available">
                        {% else %}
                            <img class="card-img-top" style="width: 348px; height: 200px;" src="/{{ post.file_path }}" alt="Product Image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ post.product }}</h5>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><b>Price: </b>{{'${:,.2f}'.format(post.price) }}</li>
                                <li class="list-group-item"><b>Quantity: </b>{{ post.quantity }}</li>
                                <li class="list-group-item"><b>Category: </b>{{ post.category }}</li>
                            </ul>
                        </div>
                        <div class="card-body" style="text-align: center">
                            {% if mode == 'feed' or mode == 'results' or mode == 'user' %}
                                <a href="#" class="card-link"><b>Buy</b></a>
                            {%  endif %}

                            <a href="{{ url_for('post_details', id=post.post_id) }}" class="card-link">Post Details</a>

                            {% if mode == 'favorites' %}
                                <a href="{{ url_for('remove_from_favorites', post_id=post.post_id) }}" class="card-link">Unfavorite</a>
                            {% else %}
                                <a href="{{ url_for('add_to_favorites', post_id=post.post_id) }}" class="card-link">Favorite</a>
                            {% endif %}

                            {% if mode == 'my-posts' %}
                                <a href="{{ url_for('edit_post', id=post.post_id) }}" class="card-link">Edit</a>
                                <a href="{{ url_for('delete_post_by_id', id=post.post_id) }}" class="card-link">Delete</a>
                            {%  endif %}
                        </div>
                        <div class="card-footer text-muted" style="text-align: center">Posted 3 minutes ago</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if not posts %}
        <div class="container">
            <div class="row">
                <h3 class="col-lg-9">
                    {% if mode == 'feed' %}
                        No Posts
                    {% elif mode == 'results' %}
                        No Results
                    {% elif mode == 'my-posts' %}
                        You have no posts!
                    {% elif mode == 'favorites' %}
                        You have no favorites!
                    {% elif mode == 'user' %}
                        {{ user.name }} has no posts!
                    {% endif %}
                </h3>
            </div>
        </div>
    {% endif %}
{% endblock %}
