{% extends 'base.html' %}

{% block title %}Add Post{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if mode == 'create' %}
                <h1 class="col-lg-9">Create Post</h1>
            {% else %}
                <h1 class="col-lg-9">Edit Post</h1>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
              <form method="POST" enctype="multipart/form-data" class="col-md-4">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.product.label }}{{ form.product(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.category.label }}{{ form.category(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.description.label }}{{ form.description(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.price.label }}{{ form.price(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.quantity.label }}{{ form.quantity(class_="form-control") }}
                </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <form method="POST" class="col-lg-6">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.product.label }}{{ form.product(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.category.label }}{{ form.category(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.description.label }}{{ form.description(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.price.label }}{{ form.price(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.quantity.label }}{{ form.quantity(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.loc.label }}{{ form.loc(class_="form-control") }}
                </div>

                {{ form.submit(class_="btn btn-primary") }}
            </form>
        </div>
        <div class="form-group">
            {{ form.image.label }}{{ form.image(class_="form-control") }}
        </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">

            </div>
        </div>
    </div>
{% endblock %}