{% extends 'base.html' %}

{% block title %}Add Post{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if mode == 'create' %}
                <h1 class="col-lg-9">New Post</h1>
            {% else %}
                <h1 class="col-lg-9">Edit Post</h1>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <form method="POST" enctype="multipart/form-data" class="col-md-4">
                {{ post_form.csrf_token }}
                <div class="form-group">
                    {{ post_form.product.label }}{{ post_form.product(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ post_form.category.label }}{{ post_form.category(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ post_form.description.label }}{{ post_form.description(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ post_form.price.label }}{{ post_form.price(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ post_form.quantity.label }}{{ post_form.quantity(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ post_form.loc.label }}{{ post_form.loc(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ post_form.image.label }}{{ post_form.image(class_="form-control") }}
                </div>

                {{ post_form.submit(class_="btn btn-primary") }}
            </form>
        </div>
    </div>
{% endblock %}