{% extends 'base.html' %}

{% block title %}{{ user.name }}'s Posts{% endblock %}

{% block content %}
    {% if user.active == True %}
        <div class="container">
            <div class="row">
                <h1 class="col-lg-9">{{ user.name }}'s Posts</h1>
            </div>
        </div>

        {% for aPost in posts %}

            <div class="container">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-block">
                                <img class="card-img-top" src="https://ae01.alicdn.com/kf/HTB1b4FILVXXXXaCXVXXq6xXFXXXS/2016-new-Home-Decor-Heart-shaped-Fruit-and-vegetable-diy-diamond-painting-square-drill-diamond-full.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-block">
                                <br>
                                <h3 class="card-title" style="padding-left: 20px">{{ aPost.product }}</h3>
                                <p class="card-text" style="padding-left: 20px">{{ aPost.description }}</p>
                                <br>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><b>Price: </b>{{'${:,.2f}'.format(aPost.price) }}</li>
                                    <li class="list-group-item"><b>Quantity: </b>{{ aPost.quantity }}</li>
                                    <li class="list-group-item"><b>Category: </b>{{ aPost.category }}</li>
                                    <li class="list-group-item"><b>Pickup Location: </b>{{ aPost.loc }}</li>
                                </ul>

                                <div class="card-body">
                                    <a href="#" class="card-link"><b>Buy</b></a>
                                    <a href="#" class="card-link">Post Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            <div class="container">
                <div class="row">
                    <h3 class="col-lg-9">{{ user.name }} has no posts!</h3>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <h3>{{ user.name }} has been disabled</h3>
    {% endif %}
{% endblock %}
